<h3>検索結果</h3>
<div class="result">
  
  <table>
    <thead>
     <tr>
      <th>部屋名</th>
      <th>エリア</th>
      <th>部屋料金</th>
     </tr>
    </thead>
    <tbody>
      <% @rooms.each do |room| %>
      <tr>
        <td><%= room.listing_name %></td>
        <td><%= room.address %></td>
        <td><%= room.price %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>